-#%p#notice= notice
-#
-#%p
-#  %b Name:
-#  = @forum.name
-#%p
-#  %b Description:
-#  = @forum.description
-#
-#= link_to 'Edit', edit_forum_path(@forum)
-#\|
-#= link_to 'Back', forums_path

%h1= @forum.name

%table
  %tr
    %th{ width: "60%"} Topic Title
    %th{ width: "10%"} Replies
    %th{ width: "30%"} Last Post
  - for topic in @forum.topics
    %tr
      %td
        = link_to h(topic.name), topic_path(topic.id)
        %td= topic.posts - 1
        %td.right
        %td= link_to "Show", topic
        %td= link_to "Edit", edit_topic_path(topic)
        %td= link_to "Destroy", topic, :confirm => 'Are you sure?', :method => :delete
%p= link_to "New Topic", "/topics/new?forum=#{@forum.id}"